/* ==UserStyle==
@name           syosetu.com
@namespace      fuzakebito
@version        0.0.6
@homepageURL    https://github.com/fuzakebito/stylusUserCss
@updateURL      https://github.com/fuzakebito/stylusUserCss/raw/main/usercss/syosetu.com.user.css
@author         fuzakebito
==/UserStyle== */

@-moz-document domain("ncode.syosetu.com") {
  :root {
    --bg: #27262c;
    --bg-light: #35343d;
    --fg: #bebdc9;
    --gr: #4aad78;
    --mg: #aa88c8;
    --cy: #5aaaaf;
  }
  body {
    background: var(--bg);
    color: var(--fg);
  }
  a {
    color: var(--cy);
  }
  a:hover {
    color: var(--gr);
  }
  a:visited {
    color: var(--mg);
  }
  #novel_header {
    background: var(--bg-light);
  }
  ul#head_nav li a {
    color: var(--fg);
  }
  ul#head_nav .booklist .login {
    background: var(--bg-light);
    border-color: var(--mg);
    border-radius: 3px;
    color: var(--mg);
  }
  #novelnavi_right #menu_on, #novelnavi_right #menu_off {
    background: var(--bg-light);
    border-color: var(--mg);
    border-radius: 3px;
    color: var(--mg);
  }
  .novelview_navi {
    background: var(--bg-light);
    border-color: var(--mg);
    border-radius: 3px;
  }
  .contents1 {
    background: var(--bg);
  }
  #novel_color {
    color: var(--fg);
  }
}
