/* ==UserStyle==
@name           syosetu.com
@namespace      fuzakebito
@version        0.2.5
@homepageURL    https://github.com/fuzakebito/stylusUserCss
@updateURL      https://github.com/fuzakebito/stylusUserCss/raw/main/usercss/syosetu.com.user.css
@author         fuzakebito
==/UserStyle== */

@-moz-document regexp("^https?://(ncode|novelcom)\\.syosetu\\.com/.*") {
  :root {
    --bg: #27262c;
    --bg-light: #35343d;
    --bg-morelight: #42404e;
    --gr: #7e7b8b;
    --fg: #bebdc9;
    --fg-light: #e3e1ea;
    --red: #cc5655;
    --yl: #c99a68;
    --mg: #aa88c8;
    --mg-light: #bd9bdc;
    --br: #809fd1;
    --cy-light: #6ebdc2;
  }
  /* css reset */
  textarea {
    color: var(--fg);
    background-color: var(--bg-light);
  }
  input {
    color: var(--fg);
    background-color: var(--bg-light);
  }
  input[type="submit"] {
    color: var(--fg);
    background-color: var(--bg-light);
  }
  select {
    color: var(--fg);
    background: var(--bg-light);
    border-color: var(--gr);
  }
  :focus-visible {
    outline: none;
  }
  /* end of css reset */
  body {
    background: var(--bg);
    color: var(--fg);
  }
  h1 {
    border-color: var(--bg-morelight);
  }
  a, #footer .undernavi a {
    color: var(--br);
  }
  a:visited, #footer .undernavi a:visited {
    color: var(--mg);
  }
  a:hover, a:hover[href], #footer .undernavi a:hover {
    color: var(--cy-light);
  }
  #novel_header {
    background: var(--bg-light);
  }
  ul#head_nav li a {
    color: var(--fg);
    border-color: var(--fg);
    transition: color 0.2s ease-in-out;
  }
  ul#head_nav li a:hover {
    color: var(--mg);
    background: var(--bg-light);
  }
  #pageBottom, #pageTop, .button {
    background: var(--bg-light);
    border: 1px solid var(--mg);
    border-radius: 3px;
    color: var(--mg) !important;
    text-shadow: none;
    font-weight: bold;
  }
  #pageBottom:hover, #pageTop:hover, .button:hover {
    background: var(--mg);
    color: var(--fg-light) !important;
  }
  .button:hover {
    border: 1px solid var(--mg);
  }
  .tippy-tooltip[data-template-id="#toaster_success"] {
	  background: var(--mg);
    opacity: 0.8;
  }
  .tippy-tooltip[data-template-id="#toaster_error"] {
	  background: var(--red);
    opacity: 0.8;
  }
  .tippy-tooltip[data-template-id="#bookmark_save_toaster"] {
	  background: var(--mg);
    opacity: 0.8;
  }
  .toaster.bookmarker_addend {
	  background: var(--mg);
    opacity: 0.8;
  }
  .toaster.bookmarker_error {
	  background: var(--red);
    opacity: 0.8;
  }
  #impression, #review, #hyoukalan {
    background: var(--bg);
    color: var(--fg) !important;
  }
  #novel_contents #impression a, #novel_contents #review a, #novel_contents #novel_hyouka a {
    color: var(--br);
  }
  .novelreport_attention {
    color: var(--red);
  }
  #impression textarea, #review textarea, #review input[type="text"] {
    background: var(--bg-light);
    border: none;
    border-radius: 3px;
  }
  textarea:focus, input[type="text"]:focus  {
    box-shadow:none;
    border: 1px solid var(--mg) !important;
  }
  #novel_attention {
    background: var(--bg-light);
    border: none;
  }
  .attention {
    color: var(--red);
  }
  #footer {
    background: var(--bg-light);
    border: none;
  }
}

@-moz-document domain("ncode.syosetu.com") {
  ul#head_nav .booklist .login {
    background: var(--bg-light);
    border-color: var(--mg);
    border-radius: 3px;
    color: var(--mg);
  }
  ul#head_nav .booklist a.login:hover {
    background: var(--mg);
    border-color: var(--mg);
    border-radius: 3px;
    color: var(--fg-light);
  }
  .footerbookmark .booklist .login {
    background: var(--bg-light);
    border-color: var(--mg);
    border-radius: 3px;
    color: var(--mg) !important;
  }
  .footerbookmark .booklist a.login:hover {
    background: var(--mg);
    border-color: var(--mg);
    border-radius: 3px;
    color: var(--fg-light) !important;
  }
  ul#head_nav li.booklist_now a {
    background: var(--bg-morelight);
    border: none;
    color: var(--fg);
  }
  .footerbookmark li.booklist_now a {
    background: var(--bg-morelight);
    border: none;
    color: var(--fg) !important;
  }
  #novelnavi_right #menu_on, #novelnavi_right #menu_off {
    background: var(--bg-light);
    border-color: var(--mg);
    border-radius: 3px;
    color: var(--mg);
  }
  #menu_off_2 {
    border-color: var(--gr);
  }
  .novelview_navi {
    background: var(--bg-light);
    border-color: var(--mg);
    border-radius: 3px;
  }
  ul.novelview_menu input[type="text"], a.size, a.size:hover {
    background: var(--bg-light);
    border-color: var(--mg);
    border-radius: 3px;
    color: var(--mg);
  }
  ul.novelview_menu a {
    color: var(--mg);
  }
  #novel_p {
    border-bottom: 3px double var(--bg-morelight);
  }
  #novel_a {
    border-top: 3px double var(--bg-morelight);
  }
  .contents1 {
    background: var(--bg);
  }
  #novel_color {
    color: var(--fg);
  }
  .wrap_menu_novelview_after {
    background: var(--bg-light);
    border: none;
  }
  .list_menu_novelview_after:first-child {
    border-color: var(--fg);
  }
  .list_menu_novelview_after a {
    color: var(--fg) !important;
    transition: color 0.2s ease-in-out;
  }
  .list_menu_novelview_after a:hover {
    background: var(--bg-light);
    color: var(--mg) !important;
  }
  .footerbookmark li.bookmark_now a {
    transition: color 0.2s ease-in-out;
  }
  .footerbookmark li.bookmark_now a:hover {
    color: var(--mg) !important;
  }
  .narou_modal {
    background: var(--bg-light);
  }
  .remodal {
    background: var(--bg-light);
    color: var(--fg);
  }
  .narou_modal p.mes {
    color: var(--mg);
  }
  .narou_modal .favnovelmain_update {
    border-color: var(--mg);
  }
  .narou_modal .favnovelmain_update h3 {
    background: var(--bg-morelight);
    color: var(--fg);
  }
  .narou_modal a.button, .narou_modal input.button, .narou_modal .button_remodal {
    background: var(--bg-light);
    border-color: var(--mg);
    color: var(--mg) !important;
  }
  .narou_modal a.button:hover, .narou_modal input.button:hover, .narou_modal .button_remodal:hover {
    background: var(--mg);
    color: var(--fg-light) !important;
  }
  .p-novelgood-form__intro {
    background: var(--bg-light);
    border: none;
  }
  .p-novelgood-form__note {
    color: var(--fg);
  }
  .p-novelgood-form__intro:before {
    border-top-color: var(--bg-light);
  }
  .p-novelgood-form__icon {
    background-color: var(--bg-light);
    border-color: var(--bg-morelight);
  }
  .p-novelgood-form__icon.is-empty a:after {
    color: var(--fg);
  }
  .p-novelgood-form__icon.is-active a:after {
    color: var(--mg);
  }
  .p-novelgood-form__icon--stop span {
    color: var(--fg) !important;
  }
  .p-novelpoint-form {
    background-color: var(--bg-light);
    border: none;
    color: var(--fg) !important;
  }
  .p-novelpoint-form a {
    color: var(--br) !important;
  }
  #impression, #review {
    border: 1px solid var(--mg);
    border-radius: 3px;
  }
  #novel_footer {
    border-top: 3px double var(--bg-morelight);
    border-bottom: 3px double var(--bg-morelight);
  }
  dl.novel_sublist2 {
    border-bottom-color: var(--bg-morelight);
  }
  dl.novel_sublist2:hover {
    border-bottom-color: var(--mg);
  }
  #recommend {
    background: var(--bg-light);
    border: none;
  }
  .recommend_novel {
    background: var(--bg);
    border: none;
  }
  .recommend_novel a {
    color: var(--fg);
  }
  .recommend_novel a:visited {
    color: var(--gr);
  }
  .recommend_novel a:hover {
    background: inherit;
    color: var(--mg-light);
  }
  ul.reco li.genre {
    background: var(--mg);
    border: none;
    color: var(--bg);
  }
  ul.reco li.user {
    background: var(--bg-light);
    border: none;
    color: var(--fg);
  }
}

@-moz-document domain("novelcom.syosetu.com") {
  .contents_header {
    border-color: var(--bg-morelight);
  }
  .p-quick-setting__body {
    border-color: var(--bg-morelight);
  }
  .p-quick-setting__label {
    background: var(--bg-light);
    color: var(--gr);
  }
  .c-form__select {
    background: var(--bg-light);
    color: var(--fg);
    border: none;
  }
  .c-form__select:active, .c-form__select:focus, .c-form__select:hover {
    background: var(--bg-light);
    color: var(--gr) !important;
  }
  .c-button--form {
    background: var(--bg-light);
    color: var(--fg);
    border: none;
  }
  .c-button--form:active, .c-button--form:focus, .c-button--form:hover {
    background: var(--bg-light);
    color: var(--gr) !important;
  }
  a.linktext_color_black, a.linktext_color_black:visited, a.linktext_color_black:hover[href] {
    color: var(--fg);
  }
  .c-button--none-active {
    background: var(--bg-light);
    color: var(--fg);
  }
  .c-form__button, .c-form__button--none-active, .c-form__input-text, .c-form__quicksearch-button, .c-form__quicksearch-text, .c-form__select, .c-form__textarea {
    border-color: var(--bg-morelight);
  }
  .c-form__button--none-active:focus, .c-form__button:focus, .c-form__input-text:focus, .c-form__quicksearch-button:focus, .c-form__quicksearch-text:focus, .c-form__select:focus, .c-form__textarea:focus {
    -webkit-box-shadow: 0 0 0 2px var(--mg);
    box-shadow: 0 0 0 2px var(--mg);
  }
  .waku {
    border-color: var(--bg-morelight);
  }
  .review_waku {
    background: var(--bg);
    border-color: var(--bg-morelight);
  }
  .hyoukawaku_in {
    background: var(--bg);
  }
  .review_user {
    border-color: var(--bg-morelight);
  }
  .comment_h2 {
    background: var(--bg-light);
    border-color: var(--gr);
  }
  .impression_info {
    border-color: var(--bg-morelight);
    color: var(--gr);
  }
  .comment_info {
    border-color: var(--bg-morelight);
  }
  .hover-nav__list {
    background: var(--bg-light);
    border-radius: 3px;
    border: 1px solid var(--morelight);
  }
  .hover-nav__list li:not(:last-child) {
    border-color: var(--bg-morelight);
  }
  .hover-nav__list li:hover {
    background: var(--mg);
    border-radius: 3px;
  }
  .hover-nav__list a {
    color: var(--mg);
  }
  .hover-nav__list li:hover a {
    color: var(--fg-light);
  }
  .no_posted_impression {
    background: var(--bg-light);
    color: var(--fg);
  }
  .res {
    background: var(--bg-light);
    border-radius: 3px;
    border: none;
  }
  #hyoukalan {
    border: 1px solid var(--mg);
    border-radius: 3px;
  }
  .description a {
    color: var(--yl);
    border-color: var(--yl);
  }
  #review label {
    color: var(--gr);
  }
  .nothing {
    background: var(--bg-light);
  }
}

@-moz-document regexp("^https?://ncode\\.syosetu\\.com/novelview/infotop/ncode/.*") {
  p#ncode, .uketuke, #onazi .info {
    color: var(--gr);
  }
  h1 a, h1 a:visited {
    color: var(--fg);
  }
  #noveltype {
    background: inherit;
    border-color: var(--gr);
    color: var(--gr);
  }
  #noveltype_notend {
    background: var(--bg-light);
    border-color: var(--bg-morelight);
    color: var(--fg);
  }
  #noveltable1 th, #noveltable1 td, #noveltable2 th, #noveltable2 td {
    border-color: var(--bg);
  }
  #noveltable1 th, #noveltable2 th {
    background: var(--bg-light);
    color: var(--fg);
  }
  #novelindex_button {
    border: none;
  }
  #novelindex_button a {
    background: var(--bg-light);
    border-color: var(--mg);
    color: var(--fg);
  }
  #novelindex_button a:hover {
    background: var(--mg);
    border-color: var(--bg);
    color: var(--fg-light);
  }
  #onazi {
    border-color: var(--bg-morelight);
  }
  #onazi .th {
    background: var(--bg-light);
  }
}
